*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(23,35,139);
    background: linear-gradient(90deg, rgba(23,35,139,1) 0%, rgba(198,226,245,1) 100%);
    font-family: 'Inria Serif';
}

header{
    background-color: white;
    padding: 5px;
}

h2{
    text-align: center;
    margin: 10px;
}

nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 10px 60px;
}

nav>a{
    color:black;
    font-size: 16px;
}

.img-redonda{
    width: 200px;
    border-radius: 50%;
    border-width: 5px;
    border-style: double;
    border-color: white;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-redonda:hover{
    background-color: rgba(0, 0, 0, 50%);
}

h1{
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagen{
    width: 350px;
    border-style: double;
    border-color: white;
    border-width: 5px;
    padding: 10px 10px 10px 10px;
}

.imagenes{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  /*o between*/
    text-align: center;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    padding: 25px 25px 25px 25px;
}


p{
    color:white;
    text-align: center;
    padding-bottom: 30px;
}
.video{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  /*o between*/
    text-align: center;
    flex-direction: row;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 10px 10px 10px 10px;
    border-style: double;
    border-color: white;
    border-width: 5px;
}
